<div class="page__donate">
  {% if site.data.ui-text[site.locale].support_label %}
    <h4 class="page__donate-title">{{ site.data.ui-text[site.locale].support_label | default: "Apoie este projeto" }}</h4>
  {% endif %}
  <link href="https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet">
    <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/tPEynVN">
      <img src="https://bmc-cdn.nyc3.digitaloceanspaces.com/BMC-button-images/BMC-btn-logo.svg" alt="Me dê um café">
        <span style="margin-left:5px">Me dê um café</span>
    </a>
</div>
