{% assign pages = site.pages | where: "lang", site.active_lang %}
<nav>
    <div class="nav-container">
        <a href="/{{site.baseurl}}" class="logo"> {{ site.author }}</a>
        <ul>
            {% for node in pages %}
                {% if node.nav_order %}
                    <li>
                        <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" 
                           href="{{ site.baseurl }}{{node.url }}">
                            {{ site.data.translations.nav[node.nav_key][site.active_lang] }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="lang-switcher">
            <button class="lang-toggle">
                {{ site.language_data[site.active_lang].name }}
            </button>

            <ul class="lang-list">
                {% for language in site.languages %}
                    {% if language != site.active_lang %}
                        <li>
                            <a class="lang-item" {% static_href
                            %}  href="{% if language == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ language }}{{page.url}}{% endif %}"
                            {% endstatic_href %}>    
                            {{ site.language_data[language].name }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>