---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

span.archive__item-categories {
  background-color: snow;
  font-size: 10px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  padding: 3px;
}
